<h3 style="color:#5a2f2f"><i class="fas fa-address-card"></i> قائمة المستخدمين</h3>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'performanceStd')"> قائمة الطلاّب</button>
  <button class="tablinks" onclick="openCity(event, 'sampleStd')"> قائمة المقيّمين</button>
  
</div>

<div id="performanceStd" class="tabcontent">

<div class="section">
    
    <div class="row">
       
            {{#if students}}
<table class="striped">
    <thead>
        <tr >
            <th  style="color:#5a2f2f;text-align:center">الاسم الكامل</th>
            <th  style="color:#5a2f2f;text-align:center">الايميل</th>
            <th  style="color:#5a2f2f;text-align:center">كلمة العبور</th>
            <th  style="color:#5a2f2f;text-align:center">تاريخ الميلاد</th>
            <th  style="color:#5a2f2f;text-align:center">الجنس</th>
            <th  style="color:#5a2f2f;text-align:center">الجنسية</th>
            <th  style="color:#5a2f2f;text-align:center">الصف</th>
            <th  style="color:#5a2f2f;text-align:center"></th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td  style="text-align:right">{{fullName}}</td>
            <td style="text-align:right">{{email}}</td>
            <td style="text-align:center">{{realPassword}}</td>
            <td style="text-align:right"> <span class="card-title">{{formatDate birthday 'MMMM Do YYYY'}}</span</td>
            <td style="text-align:right">{{sex}}</td>
            <td style="text-align:right">{{nationality}}</td>
            <td style="text-align:right">{{grade}}</td>
            
            
            <td>
                <form action="/student/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>لا يوجد طلاب</p>
{{/if}}
        
    </div>
   
</div>
</div>
<div id="sampleStd" class="tabcontent">
<div class="section">
    
    <div class="row">
      
          
            {{#if assessors}}
<table class="striped">
    <thead>
        <tr>
            <th  style="color:#5a2f2f;text-align:center">الاسم الكامل</th>
            <th  style="color:#5a2f2f;text-align:center">الايميل</th>
            <th  style="color:#5a2f2f;text-align:center">كلمة العبور</th>
            <th  style="color:#5a2f2f;text-align:center">رقم الهاتف</th>
            <th  style="color:#5a2f2f;text-align:center"></th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each assessors}}
        <tr>
            <td style="text-align:right">{{fullName}}</td>
            <td style="text-align:center">{{email}}</td>
            <td style="text-align:center">{{realPassword}}</td>
             <td style="text-align:center">{{phoneNumber}}</td>
            
            <td>
               
                <form action="/student/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>لا يوجد مقيمون</p>
{{/if}}
      
    </div>
   
</div>
</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>